@page "/counter"
@using TeamTasks.Domain.Core.Primitives.Result
@using TeamTasks.Identity.Contracts.Register
@using TeamTasks.Identity.Domain.Entities
@using TeamTasks.Web.Interfaces.Users
@inject IUsersClient UsersClient

<h3>Weather forecast</h3>

@if (result == null)
{
    <p><em>Loading...</em></p>
}
else if (result.IsFailure)
{
    <p><em>Error loading data</em></p>
}
else
{
    <table class="table">
        <thead>
        <tr>
            <th>Date</th>
            <th>Temp. (C)</th>
            <th>Summary</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td colspan="3">@result.Value.FullName</td>
        </tr>
        </tbody>
    </table>
}

@code {
    private Result<User>? result;

    protected override async Task OnInitializedAsync()
    {
        resultt = await UsersClient.Register(new RegisterRequest(
                "djkfgjnhdjfkg",
                "jhdff",
                "lox@mail.ru",
                "Sasha_2008!",
                "fhjgfds"),
            "a5b5f05b-0687-48c5-b3db-3b96deb26d4e");
    }
}